# Ignore the virtual environment
env/
medium_articles.csv

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
.env
search_and_rank.py

# Ignore the pickle files
*.pkl

search.py
src.py
validate_barrel.py
# Ignore other system-specific or IDE-specific files
.DS_Store  # macOS
*.log
.idea/      # PyCharm, IntelliJ
.vscode/    # VS Code
